body{
  background-color: #DAE0E6;
  
}
header{
  background-color: white;
  display: flex;
  align-items: center;
  padding-left: 10px;
  height: 100px;
}

#question-form{
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 20px;
  flex-direction: column;
}

#ask-btn{
  margin-top: 20px;
}
#feed{
  padding-left: 10px;
}
footer{
  text-align: center;
}
header h1{
  text-align: center;
}